server:
  port: 8080

spring:

  h2:
    console:
      enabled: true  # H2 Console을 사용할지 여부 (H2 Console은 H2 Database를 UI로 제공해주는 기능)
      path: /h2  # H2 Console의 Path
      settings:
        web-allow-others: true

  datasource:
    driver-class-name: org.h2.Driver  # Database를 H2로 사용하겠다.
    url: jdbc:h2:~/test  # H2 접속 정보
    username: sa  # H2 접속 시 입력할 username 정보 (원하는 것으로 입력)
    password:  # H2 접속 시 입력할 password 정보 (원하는 것으로 입력

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

# 초기 테이블 설정을 위해 추가
  sql:
    init:
      mode: always

logging:
  level:
    org:
      springframework:
        security: debug

app:
  auth:
    jwt:
      secret: "password" # 비밀번호
      expiration-time-millis:
        refresh-token: 604800000 # refresh token 만료 시간 : 일주일
        access-token: 216000000  # access-token 만료 시간 : 1시간 (60 * 60 * 60 * 1000)

